@{
    Layout = null;
    ViewBag.Title = "About";
}

@model WebApplication2.Models.EmailModel

@{
    Layout = null;
    ViewBag.Title = "Contact";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Zachary M. Wilson's Portfolio</title>

    <link rel="icon" class="fav" href="~/Images/favicon.png" />

    <!-- Bootstrap Core CSS -->
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="~/Scripts/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <!--Syntax Highlighter-->
    <link href="~/Content/SyntaxHighlighter/shCore.css" rel="stylesheet" />
    <link href="~/Content/SyntaxHighlighter/shThemeEclipse.css" rel="stylesheet" />

    <!-- Theme CSS -->
    <link href="~/Scripts/creative.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .about {
            font-family: Cooper,serif;
            font-size: 70px;
            -webkit-text-fill-color: orange;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: black;
            padding-top: 75px;
        }

        .imgcirc {
            border-radius: 60%;
            max-width: 300px;
            max-height: 300px;
            width: auto;
            height: auto;
        }

        .icon-z {
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }

        .stuff {
            color:navy;
            font-size:20px;
            /*-webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 1px;*/
        }
    </style>
</head>

<body id="page-top" class="bg-info">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                @Html.ActionLink("HOME", "Index", "Home", new { @class = "navbar-brand", @style = "color:black" })
                <span class="navbar-brand" style="color:black"> | </span>
                <a class="navbar-brand" style="color:black" href="https://zw-blog.azurewebsites.net" target="_blank"><i>My Blog</i></a>
                <span class="navbar-brand" style="color:black"> | </span>
                <a class="navbar-brand" style="color:black" href="https://zwbugtracker.azurewebsites.net/Account/DemoLogin" target="_blank"><i>My Bug Tracker</i></a>
                <span class="navbar-brand" style="color:black"> | </span>
                <a class="navbar-brand" style="color:black" href="" target="_blank"><i>My Financial Portal</i></a>
            </div>
            <!-- /.navbar-collapse -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("About", "About", "Home", new { @style = "color:midnightblue;" })
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home", new { @style = "color:midnightblue;" })
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header class="intro-header bg-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="page-heading">
                        <br />
                        <p class="about"><b>About Me</b></p>
                        <div class="text-center">
                            <img height="300" width="300" class="imgcirc" src="~/Images/Zachary Wilson.jpg" />
                        </div>
                        <br />
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
                    <p class="text-left stuff">
                        <b>
                            Hello! My name is Zachary Wilson, but I go by Zach. I am a self-proclaimed outdoorsman
                            with a passion for hiking and animals. My hometown is Lexington, North Carolina, and I
                            have lived there a vast majority of my life. I also learned the trade of carpentry there,
                            which comes in handy with my two-year-old pitbull, Mila. When I was ready to fly the
                            coop, I attended Appalachian State University, where I completed my general studies.
                            During my years at that amazing school, I developed a taste for working in the kitchen.
                            Ever since then, I have been a chef with a sprinkle of carpenter work here and there.
                            Now, I have began my journey as a web software engineer! I hope you enjoy my site, and
                            feel free to contact me if you have any questions!
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </header>

    <footer>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-center">
                <div class="service-box text-center">
                    <a href="https://github.com/zmw33" target="_blank">
                        <img src="~/Images/github-512.png" class="icon-z fa fa-4x text-primary sr-icons">
                    </a>
                    <h3>GitHub</h3>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="service-box text-center">
                    <a href="https://www.linkedin.com/in/zachary-wilson-b4752416b/" target="_blank">
                        <img src="~/Images/linkedin_circle_logo.png" class="icon-z fa fa-4x text-primary sr-icons">
                    </a>
                    <h3>LinkedIn</h3>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/Scripts/scrollreveal.min.js"></script>


    <!-- Theme JavaScript -->
    <script src="~/Scripts/creative.min.js"></script>

    <!-- Fonts -->

    <script src="~/Scripts/ZwScript.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
</html>


